* { 
	-webkit-border-radius: 0 !important; 
	-moz-border-radius: 0 !important; 
	border-radius: 0 !important; 
}

a {
	color: white;
}

a:hover {
	color: black;
}

#nav_main_container {
	width: 100%;
	height: 850px;
	background-color: #902d67;
	position: relative;
}

.navbar-default {
	background-color: #902d67;
	border: none;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block !important;
}

.navbar-collapse .collapse {
    display: none!important;
}

#collapsemenu {
	border: none;
	margin-left: -15px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-nav {
    float: none!important;
    margin: 30px -15px 0 0;
    padding-top: 10px;
}

.navbar-nav li {
    float: none;
}

.navbar-default .navbar-nav li a {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 4vmin;
	padding-bottom: 30px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

#vc-signature {
	padding-top: 100px;
}

#section_about {
	height: 40%;
	width: 100%;
	padding: 50px 0 80px 0;
	background-color: #b5b5b5;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#section_about h1 {
	font-weight: 600;
	font-size: 2.8em;
	text-align: center;
}

#section_about p {
	font-weight: 400;
	font-size: 1.6em;
}

#section_about p a {
	text-decoration: underline;
}

#section_projects {
	height: 80%;
	width: 100%;
	padding: 50px 0 90px 0;
	background-color: #9a9999;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#section_projects h1 {
	font-weight: 600;
	font-size: 2.8em;
	text-align: center;
}

#section_projects p,
#section_projects ul {
	font-size: 1.2em;
}

#section_projects .row img {
	padding-top: 25px;
}

#careBOTyou-chatbot {
	margin-top: 60px;
}

#badminton-website img {
	padding-left: 17px;
	margin-left: 10px;
}

#footer {
	height: 30%;
	width: 100%;
	background-color: #902d67;
	color: white;
	font-family: 'Raleway', sans-serif;
	padding: 30px;
}

#footer h2 {
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 2.2em;
}

#footer p {
	font-weight: 500;
	font-size: 2em;
	text-align: center;
	padding-bottom: 5px;
}

#footer p a {
	color: white;
}

#footer p a:hover {
	color: black;
}